@model Web3PonApplication.Models.Worker

@{
    ViewBag.Title = "Worker";
}

<h2>Worker</h2>

<!DOCTYPE html>
<head>
    <title>Private Information</title>
</head>
<body>
    <div>
        ID : @Model.ID
        <br />
        First Name: @Model.FirstName
        <br />
        Last Name: @Model.LastName
        <br />
        Phone: @Model.Phone
        <br />
        Gender: @Model.Gender
        <br />
        Email: @Model.Email
        <br />
        Address: @Model.DateOfBirth
 
    </div>
</body>

